<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/partials.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Create Profile</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add your information</h1>
    <form action="/profile" method="POST">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName" required />

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName" required />

        <label for="company">Company:</label>
        <input type="text"  name="company" id="company" required />

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required />

        <label for="experience">Years of Experience: </label>
        <input type="number" name="experience" id="experience" min="0" required />

        <button type="submit">Create Profile</button>
    </form>
</body>
</html>