@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.home-body {
    background-image: url("https://cdn.wallpapersafari.com/42/60/OPFJvE.jpg");
    font-family: "DM Serif Text", serif;
    background-color: #e6f4ea;
    color: #1e3d59;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.home-container {
    text-align: center;
    padding: 4rem;
    margin: 4rem;
}
  
.main-header {
    font-size: 3rem;
    color: #1c2e5b;
    margin-bottom: 1rem;
}
  
.subheader {
    font-size: 1.25rem;
    color: #2a4384;
    margin-bottom: 2rem;
}
  
.new-post {
    display: inline-block;
    background-color: #28da87;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    text-decoration: none;
} 
  
.new-post:hover {
    background-color: #22be76;
}
  
.auth-links a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.6rem 1.2rem;
    background-color: #1e3d59;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
  
.auth-links a:hover {
    background-color: #2e4b6d;
}

.site-logo {
    max-width: 160px;
    margin-bottom: 1.5rem;
    background: none;
    
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #1e3d59; 
    padding: 1rem 2rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.authLink {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.authLink:hover {
    background-color: #305172;
}

.signup-container,
.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background-color: #faf8f7;
}


h1 {
  color: #1c2e5b;
  margin-bottom: 20px;
}


form {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


input {
  padding: 10px;
  border-radius: 8px;
  font-size: 1em;
}


button {
  background-color: #28da87;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
    background-color: #22be76;
}

textarea {
    padding: 10px;
    border-radius: 8px;
    font-size: 1em;
}

.form-footer {
  background-color: #28da87;
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
}
  
.create-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
}

.profile {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-family: sans-serif;
    color: #333;
}
  
.profile h1 {
    text-align: center;
    color: #1e3d59;
    margin-bottom: 20px;
}
  
.profile h2 {
    font-size: 1.1rem;
    margin: 10px 0;
}


.btn-edit {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.posts-header {
    font-family: "DM Serif Text", serif;
}

.post-link {
    display: inline-block;
    background-color: #28da87;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    text-decoration: none;
}

.post-link:hover {
    background-color: #22be76;
}

.post-list {
    font-family: "DM Serif Text", serif;
    margin: 30px auto;
    padding: 0;
    list-style-type: none;
}
  
.post-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    gap: 30px;
}

.post-item a:hover {
    color: #df3910;
}
  
.post-item a {
    text-decoration: none;
    color: #1c2e5b;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.user-header {
    font-family: "DM Serif Text", serif;
  
}


.user-list {
    list-style: none;

}

.user-item {
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 30px;

}

.user-item a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1.1em;
}

.user-item:hover {
    background: #e8e8e8;
}